In [1]:
import tweepy
import configparser
import pandas as pd
import nltk.corpus
import re
import string

In [2]:
%run ./keys.ipynb

In [3]:
auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

In [4]:
keywords = '#BajwaHasToGo'
limit=300

In [5]:
tweets = tweepy.Cursor(api.search_tweets, q=keywords, count=100, tweet_mode='extended').items(limit)

In [6]:
columns = ['User', 'tweet']
data = []

for tweet in tweets:
    data.append([tweet.user.screen_name, tweet.full_text])

In [7]:
df = pd.DataFrame(data, columns=columns)

In [8]:
df['tweet'].apply(lambda x:x.strip())

0                  #BajwaHasToGo https://t.co/vbs4OlqVji
1      @OfficialDGISPR These 3 are disgrace to whole ...
2      RT @Mubi_PTI: ŸÜŸàŸÖÿ®ÿ± ŸÖ€å⁄∫ ÿ±€åŸπÿßÿ¶ÿ± €ÅŸàŸÜ€í ŸàÿßŸÑ€í ÿ¨ŸÜÿ±ŸÑ ...
3                  #BajwaHasToGo https://t.co/RtXhEl5GhB
4      RT @Abdulla03666079: Petrol price todayüòÖ\n#ÿßŸÖŸæ...
                             ...
295    RT @zshan8432: ÿ¨ŸÜ ⁄©€å ÿßŸàŸÇÿßÿ™ ÿßŸÜ ÿ±€åŸπÿßÿ¶ÿ±⁄à ÿßŸÅÿ≥ÿ±ÿßŸÜ ⁄©...
296    RT @ThatVeryTalha: The whole world is protesti...
297    RT @ShakeeDhillon: #BajwaHasToGo\nNew meer jaf...
298    RT @Butt9876: Generals and mullahs are the men...
299    RT @Muhamma69576802: #BajwaHasToGo\n\nIt's tim...
Name: tweet, Length: 300, dtype: object

In [9]:
import re
from nltk.corpus import stopwords
x = tweet
def cleanText(x):
    import re
    from nltk.corpus import stopwords
    x=x.encode('ascii','ignore').decode()
    x=re.sub(r'https*\S+','',x) # remove urls
    x=re.sub(r'@\S+','',x) #remove mentions
    x=re.sub(r'#\S+','',x) # remove hashtags
    x=re.sub(r'\'w+','',x) 
    x=[i for i in x if i not in string.punctuation] # remove punctuations
    x=''.join(x)
    return ''.join(x)

In [10]:
df['tweet']=df['tweet'].apply(cleanText)

In [11]:
df

                User                                              tweet
0      Umer_Chattha1
1        i_hifzakhan   These 3 are disgrace to whole institute \nNat...
2           Mubi_PTI                          RT                     \n
3     onlypakistan47
4    Muhamma67549505                      RT  Petrol price today\n\n\n
..               ...                                                ...
295    tariqbutt2044                RT                          2  \n\n
296    sanimalik6612  RT  The whole world is protesting against blas...
297       SKAranting                              RT  \nNew meer jafir
298         AsmaaliG  RT  Generals and mullahs are the menace of Pak...
299  Power_of_belief              RT  \n\nIts time for bajwa to resign

[300 rows x 2 columns]

In [12]:
df.to_csv("FYP.csv")